In [1]:
#参考「Pythonによる因果分析」および以下
#https://pira-nino.hatenablog.com/entry/causal_inference_implement

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
%matplotlib inline

In [3]:
dataset_url = 'https://raw.githubusercontent.com/iwanami-datascience/vol3/master/kato%26hoshino/q_data_x.csv'  
df = pd.read_csv(dataset_url)  
print(df.shape)

(10000, 35)

In [4]:
df.describe()

,cm_dummy,gamedummy,area_kanto,area_keihan,area_tokai,area_keihanshin,age,sex,marry_dummy,job_dummy1,...,T,F1,F2,F3,M1,M2,M3,TVwatch_day,gamesecond,gamecount
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,0.414400,0.074000,0.091200,0.588700,0.111500,0.208600,40.841900,0.640300,0.647000,0.566200,...,0.013200,0.127800,0.173300,0.052200,0.140300,0.328800,0.164400,8096.497203,2846.783400,9.433300
std,0.492643,0.261784,0.287908,0.492094,0.314766,0.406328,10.465434,0.479936,0.477927,0.495623,...,0.114136,0.333884,0.378525,0.222441,0.347315,0.469801,0.370657,7709.497437,17973.608991,54.475214
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.875270,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.500000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2502.245967,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,44.500000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5944.444520,0.000000,0.000000
75%,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,44.500000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,11154.786148,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,60.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,49036.055042,364814.000000,765.000000

In [5]:
df.columns

Index(['cm_dummy', 'gamedummy', 'area_kanto', 'area_keihan', 'area_tokai',
       'area_keihanshin', 'age', 'sex', 'marry_dummy', 'job_dummy1',
       'job_dummy2', 'job_dummy3', 'job_dummy4', 'job_dummy5', 'job_dummy6',
       'job_dummy7', 'job_dummy8', 'inc', 'pmoney', 'fam_str_dummy1',
       'fam_str_dummy2', 'fam_str_dummy3', 'fam_str_dummy4', 'fam_str_dummy5',
       'child_dummy', 'T', 'F1', 'F2', 'F3', 'M1', 'M2', 'M3', 'TVwatch_day',
       'gamesecond', 'gamecount'],
      dtype='object')

In [6]:
df_y = df['gamesecond']
df_z = df['cm_dummy']
df_X = df.drop(['gamesecond', 'cm_dummy', 'gamecount'], axis=1)

In [7]:
df_X.columns

Index(['gamedummy', 'area_kanto', 'area_keihan', 'area_tokai',
       'area_keihanshin', 'age', 'sex', 'marry_dummy', 'job_dummy1',
       'job_dummy2', 'job_dummy3', 'job_dummy4', 'job_dummy5', 'job_dummy6',
       'job_dummy7', 'job_dummy8', 'inc', 'pmoney', 'fam_str_dummy1',
       'fam_str_dummy2', 'fam_str_dummy3', 'fam_str_dummy4', 'fam_str_dummy5',
       'child_dummy', 'T', 'F1', 'F2', 'F3', 'M1', 'M2', 'M3', 'TVwatch_day'],
      dtype='object')

In [8]:
X = df_X
z = df_z
y = df_y

reg = LogisticRegression().fit(X, z)

print("beta: ", reg.coef_)
print("alpha: ", reg.intercept_)

beta:  [[-5.89009218e-03  2.68573447e-01  7.82089705e-01 -2.09337530e-01
  -1.11476347e+00 -2.61794386e-02 -2.11068951e-01  8.51279594e-02
  -2.70506469e-01  7.71574235e-03  5.54219956e-02  1.22493160e-02
   1.22982238e-01 -6.00878649e-02 -1.15270633e-01 -2.59421679e-02
  -1.47002919e-05  1.01804894e-02 -6.13765807e-02  1.08201702e-01
  -1.39795887e-01 -1.33037810e-01 -4.74292664e-02 -4.13395001e-02
  -2.29516665e-02 -3.20137051e-01  2.54536406e-01 -8.29272894e-03
  -2.93892955e-01 -5.07337701e-02  1.68033923e-01  1.31111165e-04]]
alpha:  [-0.27345502]

In [9]:
reg.score(X, z)

0.7044

In [10]:
z_pred = reg.predict_proba(X)
print(z_pred[:10])
print(z[:10])

[[0.96010552 0.03989448]
 [0.71161509 0.28838491]
 [0.7028093  0.2971907 ]
 [0.78096535 0.21903465]
 [0.77379372 0.22620628]
 [0.61163321 0.38836679]
 [0.88775794 0.11224206]
 [0.89312551 0.10687449]
 [0.78038953 0.21961047]
 [0.76194475 0.23805525]]
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: cm_dummy, dtype: int64

In [11]:
df2 = pd.DataFrame({'z': z, 'z_pred0': z_pred[:, 0], 'z_pred1': z_pred[:, 1]})

df2.head(20)

    z   z_pred0   z_pred1
0   0  0.960106  0.039894
1   0  0.711615  0.288385
2   0  0.702809  0.297191
3   0  0.780965  0.219035
4   0  0.773794  0.226206
5   0  0.611633  0.388367
6   0  0.887758  0.112242
7   0  0.893126  0.106874
8   0  0.780390  0.219610
9   0  0.761945  0.238055
10  0  0.723039  0.276961
11  0  0.822955  0.177045
12  0  0.931495  0.068505
13  0  0.534515  0.465485
14  0  0.900395  0.099605
15  0  0.958528  0.041472
16  0  0.786637  0.213363
17  0  0.736184  0.263816
18  0  0.738736  0.261264
19  0  0.959148  0.040852

In [12]:
PS = z_pred[:, 1]

IPW1 = sum(z * y / PS) / sum(z / PS)
IPW0 = sum(((1 - z) * y) / (1 - PS)) / sum((1 - z) / (1 - PS))
ATE = IPW1 - IPW0
print('ATE: ', ATE)

ATE:  334.3321628085946